body {
  color: #555;
  font-family: Cairo, Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
  position: relative;
}
.upperinfo {
  display: flex;
  margin: 0 auto;
  font-size: 0.7em;
  width: 70%;
  max-width: 1000px;
}
.upperinfo p {
  margin: 0 0 2px 0.4em;
  text-align: left;
  width: 95%;
}
.upperinfo button {
  margin: 0;
  padding: 0 0.3em 0 0.8em;
  font-size: 1em;
  color: #555;
  font-family: Cairo, Arial, Helvetica, sans-serif;
  border: none;
  background: none;
  cursor: pointer;
}
.upperinfo button:hover {
  color: rgb(217, 129, 53);
}
.upperinfo a {
  text-decoration: none;
  color: #555;
}
.upperinfo a:hover {
  color: rgb(217, 129, 53);
}

@media screen and (max-width: 420px) {
  .upperinfo {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
}

.intro{
  font-size: 1.1em;
  color: rgb(217, 129, 53);
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* #upperline{
    border-top: 1px solid #cdcdcd;
    width: 70%;
    max-width: 1000px;
    margin: -5px auto -5px auto;
} */

.maskcontainer1 {
  position: relative;
  justify-content: center;
  height: 100vh;
}

/* Background fading GO VEGAN message */

/* .backgroundwrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  justify-self: center;
  text-align: center;
  align-items: center;
  vertical-align: bottom;
  z-index: -2;
}
.backgroundimg {
  position: relative;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  z-index: -2;
  opacity: 0;
} */

/* .backgroundimg.fadeIn {
  animation: fadeInOut 5s forwards;
} */

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1; /* Fully visible after 1s */
  }
  75% {
    opacity: 2; /* Stay fully visible for 1s */
  }
  100% {
    opacity: 0; /* Fade out */
  }
}

#brand img {
  margin: 30px auto 16px;
  max-width: 300px;
}

@media screen and (max-width: 400px) {
  #brand img {
    max-width: 240px;
  }
}


.introtext, h1 {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.2em;
  margin-bottom: 0;
  padding: 0 8px;
}

span {
  margin-top: 0;
  padding-top: 0;
  font-size: 0.7em;
}

.mainblock {
  width: 100%;
  background-color: #cbcbcb7f;
  padding: 0.1em 0 1em 0;
  margin-top: 1em;
  margin-bottom: 0px;
  box-shadow: 0 -1px 3px #cbcbcb7f inset;
}
.mainblockinfo {
  max-width: 440px;
  margin: 0 auto;
  justify-content: center;
}

.mainblockinfo span {
  font-size: 1em;
}

.counters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -15px;
  justify-content: center;
}
.counters span {
  font-size: 0.8em;
}

/*Main Gray block per Animal and Charts*/

#collapseline,
.collapseline {
  border-top: 1px solid #a7a7a7;
  width: 70%;
  max-width: 1000px;
  margin: 6px auto 1px auto;
}

#collapse,
.collapse {
  display: flex;
  align-content: center;
  text-align: left;
  border: none;
  height: fit-content;
  background-color: none;
  background: none;
  font-size: 0.9em;
  font-family: Cairo, Arial, Helvetica, sans-serif;
  line-height: 1em;
  /* line-height: 1.3em; */
  color: #555;
  cursor: pointer;
}
.collapse-footer {
  align-content: center;
  text-align: left;
  border: none;
  height: fit-content;
  background-color: none;
  background: none;
  font-size: 0.9em;
  font-family: Cairo, Arial, Helvetica, sans-serif;
  line-height: 1em;
  /* line-height: 1.3em; */
  color: #555;
  cursor: pointer;
}

.collapse p {
  /* margin-top: -2px; */
  margin: 0;
  vertical-align: top;
  display: inline;
}
.collapse img {
  margin-left: 0.5em;
  margin-top: 1px;
  scale: 95%;
  height: fit-content;
}
.collapse:hover {
  filter: invert(74%) sepia(20%) saturate(6848%) hue-rotate(338deg)
    brightness(91%) contrast(86%);
}

@media screen and (max-width: 430px) {
  .collapse {
    margin-bottom: 1.2em;
  }
}

.collapseperanimal {
  margin: -0.6em auto;
  line-height: 18px;
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid rgb(152, 152, 152);
  background-color: rgba(220, 220, 220, 0.3);
  font-size: 0.9em;
  font-family: Cairo, Arial, Helvetica, sans-serif;
  color: #555;
  cursor: pointer;
  box-shadow: inset 1px 1px 3px #bcbcbc;
}
.collapseperanimal:hover {
  border: 1px solid rgb(217, 129, 53);
  color: rgb(217, 129, 53);
  background-color: #fff;
  box-shadow: none;
}

#mainblockperanimal,
#landanimalschart-wrapper,
#seaanimalschart-wrapper,
#landanimalschart1-wrapper,
#seaanimalschart1-wrapper,
#charts-wrapper,
#capitachart-wrapper {
  display: none;
}

.chart-container {
  position: relative;
  margin: 0.5em auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  max-width: 800px;
  height: 550px;
}

.mainblockbtn .legend {
  margin: 0 2em 2em 2em;
}

#charts-wrapper .mainblockbtn p {
  color: #555;
}

#charts-wrapper .collapseline {
  width: 68%;
}

.legend span {
  font-size: 1.2em;
  font-weight: 700;
}

#animalspercapita {
  margin: 0.5em auto;
  justify-content: center;
  max-width: 700px;
}

h2 {
  margin: 0.8em auto -0.4em;
  padding-top: 0.3em;
  border-top: 1px solid rgb(217, 129, 53, 0.3);
  width: 80%;
  max-width: 600px;
  line-height: 1.2em;
}

#animalspercapita .legend {
  border-bottom: 1px solid rgb(217, 129, 53, 0.3);
  padding: 0.5em;
  background-color: rgb(217, 129, 53, 0.2);
  margin: -0.2em auto 1em;
  width: 90%;
  max-width: 630px;
  line-height: 1.3em;
}

/*Location stats*/

.animalstats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.animalstats div {
  display: grid;
  grid-template-rows: 3fr;
  width: 9em;
  /* border: 1px solid rgb(0, 102, 255); */
  justify-content: center;
  text-align: center;
  align-items: center;
}
.animalstats div img {
  justify-self: center;
  vertical-align: middle;
  margin: 0;
  scale: 60%;
  /* border: 1px solid rgb(138, 138, 138); */
}

.animalstats div p {
  margin: -1em 0 0 0;
}

@media screen and (max-width: 900px) {
  .animalstats div {
    flex-basis: 30%;
    resize: none;
  }
}

#countrylist {
  color: rgb(57, 57, 57);
  font-family: Cairo, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  background: white;
  border-radius: 4px;
  border: 1px solid #b1b1b1;
  box-shadow: 1px 1px 4px rgb(174, 174, 174) inset;
}

#deathcount,
#fishdeathcount,
#deathcount-country,
#fishdeathcount-country,
/* #deathcount-arg,
#fishdeathcount-arg,
#deathcount-bra,
#fishdeathcount-bra,
#deathcount-can,
#fishdeathcount-can,
#deathcount-chi,
#fishdeathcount-chi,
#deathcount-col,
#fishdeathcount-col,
#deathcount-ecu,
#fishdeathcount-ecu,
#deathcount-ind,
#fishdeathcount-ind,
#deathcount-mex,
#fishdeathcount-mex,
#deathcount-rus,
#fishdeathcount-rus,
#deathcount-spa,
#fishdeathcount-spa,
#deathcount-usa,
#fishdeathcount-usa, */
.deathcount-country {
  font-size: 2em;
  color: rgb(217, 129, 53);
  margin-bottom: 0;
}

#deathcount-cows,
#deathcount-pigs,
#deathcount-sheep,
#deathcount-chicken,
#deathcount-turkey,
#deathcount-fish {
  font-size: 1.4em;
  color: rgb(217, 129, 53);
  padding: 0;
  max-width: fit-content;
  justify-self: center;
  margin: -0.4em 0;
}

.small-arrow {
  color: rgb(217, 129, 53);
  font-size: 2em; 
  vertical-align: middle; 
  display: inline;
}

.container {
  margin: 0 auto;
}

#countrydeathcount-afr,
#countrydeathcount-ame,
#countrydeathcount-asi,
#countrydeathcount-eur,
#countrydeathcount-oce,
#countrydeathcount-arg,
#countrydeathcount-aus,
#countrydeathcount-bra,
#countrydeathcount-can,
#countrydeathcount-chi,
#countrydeathcount-chile,
#countrydeathcount-col,
#countrydeathcount-ecu,
#countrydeathcount-fra,
#countrydeathcount-ger,
#countrydeathcount-ind,
#countrydeathcount-jap,
#countrydeathcount-mex,
#countrydeathcount-rus,
#countrydeathcount-spa,
#countrydeathcount-southafrica,
#countrydeathcount-uk,
#countrydeathcount-usa {
  display: none;
}

.countrydropdown {
  margin-top: 20px;
}
.animalbuttons {
  border: none;
  display: flex;
  flex-wrap: nowrap;
  /* display: grid;
    grid-template-columns: repeat ( 6, 200px);  */
  /* repeat(6, 1fr); */
  grid-auto-flow: column;
  margin: 0.4em auto;
  justify-content: center;
}

.animalbuttons button {
  border-radius: 45%;
  margin: -1em 0.5em 0.5em 0.5em;
  border: none;
  /* border: 1px dashed rgb(255, 0, 0); */
  background-color: transparent;
  cursor: pointer;
  padding: 0.8em 0.4em;
  vertical-align: bottom;
  text-align: center;
  scale: 65%;
  position: relative;
}

.animalbuttons button .tooltip {
  position: absolute;
  flex-wrap: nowrap;
  white-space: nowrap;
  left: 0;
  right: 0;
  bottom: -16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.6em;
  pointer-events: none;
  color: #454545;
  opacity: 0;
}

.animalbuttons button:hover .tooltip {
  opacity: 1;
}

.animalbuttons button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 730px) {
  .animalbuttons {
    flex-wrap: wrap;
    border-color: none;
  }
  .animalbuttons button {
    flex: 28%;
    resize: none;
    margin: -1em 0 0.5em 0;
    padding: 0.8em 0;
  }
}

@media screen and (max-width: 400px) {
  .animalbuttons {
    flex-wrap: wrap;
    border-color: none;
  }
  .animalbuttons button {
    flex: 45%;
    resize: none;
    margin: -1em 0 0.5em 0;
    padding: 0.8em 0;
  }
}

@media screen and (max-width: 300px) {
  .animalbuttons {
    flex-wrap: wrap;
    border-color: none;
    scale: 80%;
  }
  .animalbuttons button {
    flex: 45%;
    resize: both;
    margin: -1em 0 0.5em 0;
    padding: 0.8em 0;
  }
}

#data-el {
  margin: auto;
  /* border: 2px solid blue; */
  width: fit-content;
  word-break: keep-all;
  padding: 0 1em 0.3em 0.5em;
  background-color: none;
}
#data-el p {
  text-align: center;
  line-height: 0.9em;
}
#data-el .list {
  width: fit-content;
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  padding: 0;
  text-align: left;
  align-items: baseline;
  list-style-position: inside;
  white-space: nowrap;
}

#data-el .list div {
  text-align: right;
  font-size: 1.5em;
  color: rgb(217, 129, 53);
  line-height: 0.5em;
  padding: 0;
}

/*Article*/
.text-article-wrapper {
  align-items: center;
  margin: 1rem auto 2rem;
  padding: 1rem 0;
  max-width: 800px;
  border: 1px solid rgba(150, 150, 150, 0.63);
  border-radius: 6px;
}

.articleheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  vertical-align: middle;
}

.arrow, .arrow-1 {
  margin: -40px 0;
  color: rgb(217, 129, 53);
  font-size: 6em; 
  vertical-align: middle; 
}

.articleh2 {
  font-size: 1.8em;
  margin: 0.1em auto;
  padding: 0.2em 0;
  border: none;
  max-width: none;
  line-height: 1.2em;
  text-align: left;
}

em {
  font-weight: 600;
  color: rgb(217, 129, 53);
}

.big-number-wrapper {
  padding: 2rem 0;
  background-color: #cbcbcb7f;
  margin-bottom: 1rem;
}

.big-number-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px;
  padding: 0.5em 0;
  max-width: 800px;

}

.big-number {
  margin-top: 1.6em;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-left: 1px solid rgb(217, 129, 53);
  vertical-align: middle;
  flex-basis: 35%;
}
.big-number span {
  font-size: 1em;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.big-number h2 {
  width: 90%;
text-align: center;
  margin: 0 auto;
  padding: 0;
  line-height: 0.9em;
}


.articleh2 > strong {
  font-size: 2.8em;
  color: rgb(48, 48, 48);
  margin: 0 auto;
  padding: 0;
}

.text-article {
  margin: 0 auto;
  padding: 1.5em 1em;
  max-width: 750px;
  font-size: 1rem;
  line-height: 1.3em;
  column-count: 2;
  column-gap: 1em;
  text-align: left;
}
.arrow-responsive {
  display: none;
}

@media screen and (max-width: 730px) {
  .text-article {
    column-count: 1;
  }
  .text-article-wrapper {
    margin: 1rem 1rem 2rem;

  }
}

@media screen and (max-width: 768px) {
  .arrow {
    display: none;
  }
  .big-number-section {
    flex-direction: column;
    
  }
  .big-number {
    margin-left: 6%;
    border: none;
    justify-content: flex-start;
    align-self: flex-start;
  }

  .big-number > .articleh2 {
    display: flex;
    flex-direction: row;
  }
  .arrow-responsive, .arrow-1 {
    margin-left: -0.5rem;
    display: inline;
  }

  div.big-number > h2 > span{ 
  display: inline;
  color: rgb(217, 129, 53); 
  font-size: 5rem;
    }

  .big-number span {
    font-size: 1em;
    margin: 0.5rem 0;
  }

  .big-number h3 {
    text-align: left;
    margin-left: 6rem;
    padding: 0;
    line-height: 0.9em;
  }

  div.big-number > span {
    text-align: left;
    margin-top: 0;
    padding-top: 0;
    margin-left: 6rem;

  }

  div.big-number > h2 > strong {
    margin-right: 6px;
  }
  
}



fn {
  font-size: 0.7em;
  vertical-align: 0.5em;
}

#footer-brands{
border-top: 1px solid #a7a7a7;
width: 80%;
max-width: 600px;
margin: 0 auto;
padding: 0 1em;
}
#footer-brands p{
  margin: 0 auto;
  padding-bottom: 5px;
  font-style: italic;
  font-size: small;
}
#footer-brands img{
  margin: 5px 16px 0;
  padding: 4px 0;
  cursor: pointer;
}

#footer-brands a:hover{
  opacity: 0.7;
}

#footer-brands a:active{
  opacity: 0.4;
}


footer {
  padding: 4px 1em;
  border-top: 1px solid #a7a7a7;
  font-size: 0.7em;
  line-height: 1.2em;
  /* background-color: #ffffff7a; */
  margin: 16px auto;
  width: 80%;
  max-width: 600px;
  align-content: center;
}

footer p {
  margin: 0 1em;
}

footer a {
  color: inherit;
  text-decoration: none;
}
footer a:visited {
  color: inherit;
  text-decoration: none;
}

footer .about {
  margin: 0.9em auto 1.1em;
  color: rgb(217, 129, 53);
  text-decoration: none;
}
footer div a:visited {
  color: rgb(217, 129, 53);
  text-decoration: none;
}

.footer-embedded-element {
  display: none;
}

hr {
  margin: 0.5em auto;
  padding: 0 1em;
  border: none;
  border-top: 1px solid #a7a7a7;
  width: 80%;
  max-width: 600px;
}

/* PopUP */

.pbt-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content within the popup */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100; /* To Ensure it's on top of other elements */
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none; /* Standard property */
}
.pbt-popup-container {
  position: relative;
}
.fbook {
  background-color: #fff;
  max-width: 280px;
  border-radius: 10px;
}
.fbook p {
  padding: 10px 40px 0 12px;
}

.pbt-close-btn {
  position: absolute;
  cursor: pointer;
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: large;
  background-color: #000;
  color: #d9d9d9;
  border-radius: 50px;
  border: none;
  z-index: 101;
  margin: 8px;
  width: 34px;
  height: 34px;
}

.pbt-close-btn:hover {
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px #000;
}

#privacy{
  margin-top: 10px;
  margin-bottom: 20px;
  display: none;
}

#priv-btn{
  color: #6D6D6D;
  display: block;
  border-radius: 10px;
  margin: -5px auto;
  font-size: 1em;
}

/*Animations*/

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200%);
    }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.text-article-wrapper{
  animation: slideFromLeft ease-in-out forwards;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(3.5); /* Use transform: scale() */
  }

  to {
    opacity: 1;
    transform: scale(1); /* Use transform: scale() */
  }
}


 .animalbuttons{
  animation: appear 0.2s linear ;
}  
.small-arrow{
  animation: appear 1.2s linear;
} 


@keyframes slideFromRigth {
  from {
    opacity: 0;
    transform: translateX(200%);
    }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.big-number-section{
  animation: slideFromRigth ease-in-out forwards;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}